.headerElem{
    margin-top:1rem;
    margin-bottom:1rem;
    height:80%;
}
.blank{
    padding:0;
}
p{
    padding:0;
    margin:0;
}

#sidebar{
    height:100%;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding-left:2rem;
}
.sidebar-cat{
    color:lightgray;
    margin-bottom: 0;
    margin-top:2rem;
}
.sidebar-list{
    box-shadow: none; border:0; margin:0;
}